.JobCard {
  background-color: var(--clr-white-bg);
  border: none;
  border-radius: 0.5em;
  border-left: 5px solid var(--clr-medium-green-bg);
  margin-top: 2.5em;
  box-shadow: hsla(180, 29%, 50%, 0.2) 0px 8px 24px;
  padding: 2em 1.5em 1.5em;

  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 24px;
  transform: translateY(-50%);
  width: 48px;
}

.upper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.tags {
  display: flex;
  gap: 0.5em;
}

.tag {
  border-radius: 1em;

  /* Can't properly center the text in the tags, REVIEW DISCUSSION PENDING */
  padding: 0.25em 0.75em;
  vertical-align: middle;
}

.tag--new {
  background-color: var(--clr-medium-green-bg);
}

.tag--featured {
  background-color: var(--clr-dark-green-bg);
}
