.JobCard {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 24px;
  transform: translateY(-50%);
  width: 48px;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.upper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.tags {
  display: flex;
  gap: 0.5em;
}

.tag {
  border-radius: 1em;

  /* Can't properly center the text in the tags, REVIEW DISCUSSION PENDING */
  padding: 0.25em 0.75em;
  vertical-align: middle;
}

.tag--new {
  background-color: var(--clr-medium-green-bg);
}

.tag--featured {
  background-color: var(--clr-dark-green-bg);
}

.lower {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.lower .additional:after {
  content: '';
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
  color: var(--clr-grey-text);
  /*to replace the circle*/
  background: var(--clr-grey-text) content-box;
  padding: 0;
  border: 2px solid var(--clr-grey-text);
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.lower .additional:last-of-type:after {
  content: unset;
}

.buttons-area {
  border-top: 1px solid var(--clr-grey-text);
  margin-top: 1em;
  padding-top: 1em;

  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Laptop */
@media (min-width: 960px) {
  .JobCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    position: relative;
    top: unset;
    left: unset;

    transform: unset;
    width: 88px;
    height: 88px;
  }

  .info-block {
    margin-left: 1.5em;
    gap: 0.5em;
  }

  .buttons-area {
    margin-left: auto;

    border-top: unset;
    margin-top: unset;
    padding-top: unset;
  }
}
