.App {
  position: relative;
  padding: 9.75em 1.5em 2em;

  background: linear-gradient(
    to bottom,
    var(--clr-medium-green-bg) 0%,
    var(--clr-medium-green-bg) 156px,
    var(--clr-light-green-bg) 156px,
    var(--clr-light-green-bg) 100%
  );

  z-index: 0;
}

.header-svg {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -10;
}

.header-svg--mobile {
  top: 0;
  left: 0;

  z-index: -10;

  /* Svg doesn't stretch with the window when it's a element, HOW TO DO IT? */
}

.header-svg--desktop {
  display: none;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  .header-svg--mobile {
    display: none;
  }

  .header-svg--desktop {
    display: block;

    width: 100%;

    max-height: 156px;
  }
}

/* Laptop */
@media (min-width: 960px) {
  .App {
    padding: 11.75em 2.5em 6em;
  }
}
